*{
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  height: 100%;
}



.swiper {
  width: 100%;
  padding-top: 100px !important;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.Start-Bootstrap{
  background-color: black;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-left: 30px ;

}

.header{
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 100px;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.right-header{
  display: flex;
  flex-direction: row;
  margin-left: 800px;
  align-items: center;
}


.nav-link{
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.slides{
  height: 400px;
  width: 100%;
}
.swiper-wrapper img{
  height: 500px;
}
.nav li{
  padding: 20px;
  cursor: pointer;
}

.nav li:hover{
  background-color: grey;
  color: black;
}
.navigation{
  top: 0;
  width: 100%;

}
/* .lsgs{
  font-size: 35px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: black;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgb(125, 25, 42);
  text-decoration: none;
  height: 100px;
  width: 730px;
  padding-left: 80px;
} */
.start{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: #f8f9fa;
  width: 30%;
  height: 30px;
  margin-left: 530px;
}
.content{
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.countdown-container{
  margin-top: 160px;
  font-size: 40px;
}
.left{
  width:30%;
  display: flex;
  flex-direction: column;
  
}
.foodnoel{
  width: 100%;
  height: 50%;
}
.center{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:40%;
}
.right{
  display: flex;
  justify-content: flex-end;
  width: 30%;
  flex-direction: column-reverse;

}
.content lsgs{
  display: flex;
  align-items: center;
}
.prs{
  font-size: 35px;
  display: flex;
  align-items: center;
  margin-top: 40px;
 color: black;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgb(125, 25, 42);
  text-decoration: none;
  height: 100px;
  width: 650px;
  text-align: center;
  padding-left: 140px;
}
.lsgs1{
  padding-top: 1px;
  width: 50%;
  height: 97%;
  padding-right: 20px;
  object-fit: cover;
}


.present{
  padding-top: 1px;
  width: 50%;
  height: 100%;
  padding-right: 20px;
  object-fit: cover;
}
.decor{
  padding-top: 1px;
  width: 50%;
  height: 105%;
  padding-right: 20px;
  object-fit: cover;
}
.decal{
  width: 50%;
  height: 105%;
  padding-right: 20px;
  object-fit: cover;
}
.cos{
  width: 50%;
  height: 104%;
  padding-right: 20px;
  object-fit: cover;
}
.decornoel{
  margin-bottom: 25px;
  width: 50%;
  height: 108%;
  padding-right: 20px;
  object-fit: cover;
}
.chrisdiffcountry{
  width: 50%;
  height: 100%;
  padding-right: 20px;
  object-fit: cover;
}
.list{
  width: 50%;
  height: 102%;
  padding-right: 20px;
  object-fit: cover;
}
.good{
  width: 80%;
  height: 100%;
  padding-right: 20px;
  object-fit: cover;
}
.chuc{
  width: 100%;
}
.title1, .title2 , .title3 , .title4, .title5 , .title6 , .title7{
  width: 600px;
  height: 400px;

}
.titleright1{
  width: 600px;
  height: 300px;
}
.one, .two, .three, .four , .five , .six , .seven{
  width: 500px;
  border: solid black 1px;
  height: 230px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom:20px ;
  
}
.left4{
  width: 400px;
  border: solid black 1px;
  height: 230px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom:20px ;
  margin-top: 5px;
}
.title4{
  width: 600px;
  height: 400px;
}
.yeah{
  width: 450px;
  height: 290px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom:20px ;
  margin-top: 5px;
  margin-right: 40px;
}
.left3{
  height: 910px;
}
.w{
  width: 450px;
  height: 910px;
}
.gif{
  width: 100%;
  height: 200%;
}
.titleleft1{
  width: 390px;
  border: solid black 1px;
  height: 230px;
  display: flex;
  flex-direction: column;
  margin-bottom:20px ;
  
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom:20px ;
}
.foodnoel{
  height: 200px !important;
  width: 100%;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.left1{
  width: 390px;
  border: solid black 1px;
  height: 230px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px ;

}

.title0{
  font-size: 30px;
  font-weight: 1000;
}
.right1{
  border: solid black 1px;
  height: 80px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom:20px ;
}
.right2{
  border: solid black 1px;
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom:20px ;
}
.eight{
  width: 500px;
  border: solid black 1px;
  height: 330px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom:20px ;
}
.seemore{
  text-decoration: underline;
  color: blue;
}
.container{
  text-align: center;
}
.logo img{
  width:90px
}
.hot{
  background-color: #990002;
  font-size: x-large;
  color: #fef14e;
  display: flex;
  border: solid black 1px;
}

.countdown-container {
  text-align: center;
}

#countdown {
  font-size: 36px;
  font-weight: bold;
}
.btn-form{
  display: flex;
  justify-content: center;
}
.btn-start{
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.btn-start:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}
.footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 32px 15px 50px 15px;
  background-color: black;
}
.footer .footer-items{
  width: 360px;
  text-align: left;
  padding: 14px 0px;
  color: white;
}
.footer .footer-items .content-ul{
  display: flex;
  padding: 16px 0px;
  color: white;
  
}
.footer .footer-items .content-ul:hover{
  background-color: #cccccc;
  
}
.footer .footer-items .content-ul .sub-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37px;
  color: white;
} 
.footer .footer-items .content-ul span{
  height: 10px;
  color: white;
}
.footer-items p{
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 1.5;
  color: white;
}
.footer-items .tag .key{
  background-color: black;
  color:#cccccc;
}
.footer-items .tag span{
  text-align: center;
  background-color: #616161;
  color: white;
  padding: 4px 10px 0px 10px;
  margin: 4px 4px;
}


.title-post-rv {
  padding-top: 70px;
  padding-bottom: 1px;
  border-bottom: 3px solid;
  border-bottom-color: rgb(9, 9, 230);
  margin-bottom: 20px;
}
.title-post-rv p {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  width: 15%;
  background: rgb(9, 9, 230);
}
.ttcn {
  text-align: center;
  /* width: auto; */
  padding: 4px;
  font-weight: bold;
  background: black;
  color: white;
}
.article-summary {
  font-size: 15px;
  color: rgb(136, 136, 136);
}
.old-post {
  width: 70%;
}
.posts-info {
  display: flex;
  padding-bottom: 20px;
}
.posts-info img {
  min-width: 300px;
}
.post-old-txt {
  padding-left: 20px;
}
.post-old-txt p {
  padding: 5px;
}
.txt-center {
  display: flex;
}
.title-post-old {
  font-size: 25px;
  font-weight: 500;
}
.footer-tintuc {
  padding-top: 30px;
  background: #111111;
  color: white;
}
#footer {
  margin: 0 auto;
  width: 80%;
  padding: 20px 0 50px 0;
}
.ft-top-expost,
.ft-top-plpost,
.ft-top-xemnhieu {
  padding-right: 40px;
}
.ft-top-expost {
  width: 40%;
}
.ft-top-plpost {
  width: 40%;
}
.ft-top {
  display: flex;
  border-bottom: 1px solid rgb(68, 68, 68);
  padding-bottom: 40px;
}
.title-expost {
  padding-bottom: 30px;
}
.title-expost P {
  font-size: 18px;
  font-weight: bold;
}
.item-post-ft {
  display: flex;
  padding: 20px 0;
}
.ct {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.ab-us-txt p {
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
}
.ab-us-txt span {
  color: rgb(63, 5, 223);
}
.ft-bottom {
  padding-top: 30px;
  display: flex;
}
.item-fl {
  width: auto;
  height: 30px;
  padding-right: 10px;
}
.icon-top-header,
.item-fl:hover {
  cursor: pointer;
}
.logo-ft {
  width: 35%;
}
.logo-ft img {
  padding-top: 5%;
}
.about-us {
  width: 40%;
}
.txt-xemnhieu p {
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}
.txt-xemnhieu p:hover {
  color: blue;
  cursor: pointer;
}
.hover-p:hover {
  color: blue;
  cursor: pointer;
}
.blogs-menu, .home-menu{
  color: rgb(92, 120, 214);
}